<template>
    <div>
        <header class="bg-indigo-800 py-5 text-white fixed top-0 w-full">
            <div class="container px-5 mx-auto flex flex-wrap">
                <div class="w-7/12 md:w-4/12">
                    <a href="#">ComparteWifi</a>
                </div>
                <div class="w-5/12 md:w-8/12 hidden md:block">
                    <nav>
                        <ul class="w-full flex justify-end space-x-5">
                            <li>
                                <a href="#">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Preguntas frecuentes</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section
            class="container px-5 mx-auto md:h-screen flex flex-wrap md:items-center">
            <div class="w-full md:w-5/12 mt-20 md:mt-0 text-center md:text-left">
                <h1 class="font-bold text-3xl xl:text-6xl px-5 md:px-0">
                    Comparte tu red wifi con tus clientes, amigos, familiares por
                    medio de QR!
                </h1>
                <h3 class="text-md xl:text-2xl">
                    Facil y sencillo. Obtenlo por solo
                    <strong class="text-xl">$59 mxn</strong>
                </h3>
                <button class="px-5 py-2 bg-indigo-700 text-white rounded-md mt-5">
                    Más información
                </button>
            </div>
            <div class="w-full md:w-7/12">
                <img
                    class="h-[400px] md:h-[500px] mx-auto md:mr-0 ml-auto mt-10 md:mt-0"
                    src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/generic-qr-code-connect-to-wifi-template-design-a289fa6c8c0a3c103c015b9d037c3127_screen.jpg"
                    alt="" />
            </div>
        </section>
        <section class="bg-indigo-700 mt-10 pt-20 pb-28">
            <div class="container mx-auto flex flex-wrap space-y-5">
                <div class="w-full text-center">
                    <h2
                        class="text-2xl md:text-4xl font-bold mb-5 md:mb-10 text-white">
                        ¿Cómo funciona?
                    </h2>
                </div>
                <div class="w-full md:w-4/12 px-5">
                    <div class="bg-slate-50 p-5 rounded-md space-y-3">
                        <span
                            class="bg-purple-700 text-white h-10 w-10 flex items-center justify-center text-2xl rounded-md"
                            >1</span
                        >
                        <h3 class="text-xl">Inicia sesión o crea una cuenta</h3>
                        <p>
                            El crear una cuenta te permitira poder actualizar la
                            contraseña de tu red las veces que tu lo necesites.
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-5">
                    <div class="bg-slate-50 p-5 rounded-md space-y-3">
                        <span
                            class="bg-purple-700 text-white h-10 w-10 flex items-center justify-center text-2xl rounded-md"
                            >2</span
                        >
                        <h3 class="text-xl">Coloca tus credenciales</h3>
                        <p>
                            Ingresa el nombre de tu red y contraseña en el formulario
                            para general tu código
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-4/12 px-5">
                    <div class="bg-slate-50 p-5 rounded-md space-y-3">
                        <span
                            class="bg-purple-700 text-white h-10 w-10 flex items-center justify-center text-2xl rounded-md"
                            >3</span
                        >
                        <h3 class="text-xl">Recibe tu QR</h3>
                        <p>
                            Recibiras por medio de whatsapp y correo electronico tu
                            código qr listo para usarlo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-20 md:py-32">
            <div class="text-center px-10">
                <h2 class="text-2xl md:text-4xl font-bold mb-5 md:mb-10">
                    ¿Listo para compartir?
                </h2>
            </div>
            <div class="container px-5 mx-auto text-center flex flex-wrap">
                <div class="w-full md:w-6/12 xl:w-4/12 mx-auto px-5">
                    <LogIn />
                </div>
            </div>
        </section>
    </div>
    <!-- <CheckoutPayment :cartTotal="39" /> -->
</template>
<script>
import LogIn from './Components/LogIn.vue';
import SignUp from './Components/SignUp.vue';
import CheckoutPayment from './Components/Payment.vue';
import { computed } from 'vue';
import { usePage } from '@inertiajs/vue3';
export default {
    components: {
        CheckoutPayment,
        LogIn,
        SignUp,
    },
    setup() {
        const user = computed(() => usePage().props.auth.user);
        return {
            user
        }
    },
};
</script>
<style lang=""></style>
