<template lang="">
    <div>
        <div v-if="isLogin" class="border border-black p-10 rounded-md">
            <form
                @submit.prevent="
                    logInForm.post(route('user.login'), { preserveScroll: true })
                "
                class="flex flex-wrap flex-row">
                <div
                    v-if="logInForm.errors.message"
                    class="bg-red-500 px-3 py-2 text-white rounded-md">
                    {{ logInForm.errors.message }}
                </div>
                <div class="w-full text-center my-5">
                    <label class="text-xl">Email</label>
                    <input
                        v-model="logInForm.email"
                        type="email"
                        class="text-sm w-full border border-black p-2 block rounded-md bg-transparent mx-auto placeholder:text-black placeholder:opacity-30"
                        placeholder="ejemplo@gmail.com" />
                </div>
                <div class="w-full text-center">
                    <label class="text-xl">Contraseña</label>
                    <input
                        v-model="logInForm.password"
                        required
                        type="password"
                        class="text-sm w-full border border-black p-2 block rounded-md bg-transparent mx-auto placeholder:black"
                        placeholder="*******" />
                </div>
                <div class="w-full text-center">
                    <button
                        :disabled="logInForm.processing"
                        class="px-5 py-2 bg-indigo-700 text-white rounded-md mt-5">
                        <template v-if="!logInForm.processing">
                            Iniciar Sesión
                        </template>
                        <template v-else> Iniciando sesión ... </template>
                    </button>
                    <button
                        @click="showSignUp"
                        type="button"
                        class="text-md lg:ml-2 xl:ml-5 my-5 border px-5 py-2 rounded-md">
                        Crear cuenta
                    </button>
                </div>
            </form>
        </div>

        <div v-if="isSignUp" class="border border-black p-10 rounded-md">
            <div
                v-if="$page.props.flash.message"
                class="text-indigo-500 px-3 py-2 rounded-md w-full mb-2">
                {{ $page.props.flash.message }}
            </div>
            <Link
                v-if="$page.props.flash.message"
                :href="route('dashboard.index')"
                class="bg-indigo-500 text-white px-3 py-2 rounded-md w-full mb-5 block">
                Generar QR
            </Link>
            <form
                v-if="!$page.props.flash.message"
                @submit.prevent="
                    signUpForm.post(route('user.create'), { preserveScroll: true })
                "
                class="flex flex-wrap flex-row">
                <div
                    v-if="signUpForm.errors.message"
                    class="bg-red-500 px-3 py-2 text-white rounded-md w-full">
                    {{ signUpForm.errors.message }}
                </div>

                <div class="w-full text-center">
                    <label class="text-xl">Nombre</label>
                    <input
                        v-model="signUpForm.name"
                        required
                        type="text"
                        class="text-sm w-full border border-black p-2 block rounded-md bg-transparent mx-auto placeholder:text-black placeholder:opacity-30"
                        placeholder="Ejemplo: Juan Jesus" />
                </div>
                <div class="w-full text-center my-5">
                    <label class="text-xl">Email</label>
                    <input
                        v-model="signUpForm.email"
                        required
                        type="email"
                        class="text-sm w-full border border-black p-2 block rounded-md bg-transparent mx-auto placeholder:text-black placeholder:opacity-30"
                        placeholder="ejemplo@gmail.com" />
                </div>
                <div class="w-full text-center">
                    <label class="text-xl">Contraseña</label>
                    <span
                        class="inline-block bg-gray-700 text-white text-xs px-3 py-1 rounded-md mb-3"
                        >La contraseña debe contener al menos 5 letras y maximo
                        10</span
                    >
                    <input
                        v-model="signUpForm.password"
                        required
                        type="password"
                        class="text-sm w-full border border-black p-2 block rounded-md bg-transparent mx-auto placeholder:black"
                        placeholder="*******" />
                </div>
                <div class="w-full text-center">
                    <button
                        :disabled="signUpForm.processing"
                        class="px-5 py-2 bg-indigo-700 text-white rounded-md mt-5">
                        <template v-if="!signUpForm.processing">
                            Crear cuenta
                        </template>
                        <template v-else> Creando cuenta ... </template>
                    </button>
                    <button
                        @click="showLogIn"
                        type="button"
                        class="text-md lg:ml-2 xl:ml-5 my-5 border px-5 py-2 rounded-md">
                        Iniciar sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
export default {
    name: 'LogIn',
    setup() {
        const isLogin = ref(true);
        const isSignUp = ref(false);
        const showSignUp = () => {
            isLogin.value = false;
            isSignUp.value = true;
        };
        const showLogIn = () => {
            isLogin.value = true;
            isSignUp.value = false;
        };
        const logInForm = useForm({
            email: null,
            password: null,
        });
        const signUpForm = useForm({
            name: null,
            email: null,
            password: null,
        });

        return {
            isLogin,
            isSignUp,
            showLogIn,
            showSignUp,
            logInForm,
            signUpForm,
        };
    },
};
</script>
<style lang=""></style>
