<template>
    <div>
        <div v-if="!paid" id="paypal-button-container"></div>
        <div v-else id="confirmation" class="text-center">Orden completada</div>
    </div>
</template>
<script>
import { loadScript } from '@paypal/paypal-js';
export default {
    name: 'Checkout-Payment',
    beforeCreate: function () {
        loadScript({ 'client-id': CLIENT_ID, currency: 'MXN' }).then(paypal => {
            paypal
                .Buttons({
                    createOrder: this.createOrder,
                    onApprove: this.onApprove,
                })
                .render('#paypal-button-container');
        });
    },
    data() {
        return {
            paid: false,
        };
    },
    props: {
        cartTotal: {
            type: Number,
        },
        form: {
            type: Object,
        },
    },
    mounted() {
        setTimeout(() => {
            this.$emit('hideModal', true)
            console.log('submiting event...')
        }, 2000);
    },
    methods: {
        createOrder: function (data, actions) {
            console.log('Creating order...');
            return actions.order.create({
                purchase_units: [
                    {
                        amount: {
                            value: this.cartTotal,
                        },
                    },
                ],
            });
        },
        onApprove: function (data, actions) {
            console.log({ theData: data });
            return actions.order.capture().then(() => {
                this.paid = true;
                console.log('Order complete!');
                console.log({ theForm: this.form });
            });
        },
    },
};
const CLIENT_ID =
    'AckIvGIuE_Nl3hWr4dZmrtzKxM7X7tYQwxz0T6bpus9tstDiYfpoZwdjPbE-fg6wPrQtYmgegWxQ3-NX';
</script>
