<template lang="">
    <div>
        <form
            action="#"
            class="flex flex-wrap flex-row border border-black p-10 rounded-md">
            <div class="w-full text-center">
                <label class="text-xl">Nombre</label>
                <input
                    type="text"
                    class="text-sm w-full border border-black p-2 text-white block rounded-md bg-transparent mx-auto placeholder:text-black"
                    placeholder="Ejemplo: Juan Jesus" />
            </div>
            <div class="w-full text-center my-5">
                <label class="text-xl">Email</label>
                <input
                    type="text"
                    class="text-sm w-full border border-black p-2 text-white block rounded-md bg-transparent mx-auto placeholder:text-black"
                    placeholder="ejemplo@gmail.com" />
            </div>
            <div class="w-full text-center">
                <label class="text-xl">Contraseña</label>
                <input
                    type="text"
                    class="text-sm w-full border border-black p-2 text-white block rounded-md bg-transparent mx-auto placeholder:black"
                    placeholder="*******" />
            </div>
            <div class="w-full text-center">
                <button class="px-5 py-2 bg-indigo-700 text-white rounded-md mt-5">
                    Iniciar Sesión
                </button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    name: 'SignUp',
};
</script>
<style lang=""></style>
