<template lang="">
    <DashboardLayout>
        <div class="w-full p-14 bg-slate-100 min-h-screen">
            <div class="card bg-white p-10 rounded-md">
                <div
                    class="flex space-y-3 md:space-y-0 md:justify-between items-center w-full">
                    <h2 class="text-3xl">Mis Códigos QR</h2>
                    <button
                        @click="toggleModal"
                        class="bg-indigo-500 hover:bg-indigo-600 text-white px-3 py-2 rounded-md">
                        Crear QR
                    </button>
                </div>
                <div class="flex flex-wrap">
                    <div v-for="item in 1" :key="item" class="w-4/12 my-5 p-1">
                        <div
                            class="border border-black rounded-md min-h-[200px] w-full p-5 flex flex-col items-center justify-center">
                            <p>Red: <span>Infinitum12345</span></p>
                            <p>Contraseña: 1234567890</p>
                            <img
                                src="https://chart.googleapis.com/chart?chs=300x300&amp;cht=qr&amp;chl=WIFI:S:IZZI-5D4E-5G;T:WPA;P:F0AF85DC5D4E;&amp;choe=UTF-8" />
                            <button
                                class="bg-indigo-500 text-white px-3 py-2 rounded-md w-full mb-5 block">
                                Actualizar contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            @hide-modal="isModalOpen.value = false"
            v-if="isModalOpen"
            class="fixed z-50 bg-black bg-opacity-50 p-6 md:p-20 h-full w-full top-0 left-0 overflow-scroll">
            <div
                class="card w-full min-h-full pt-14 bg-slate-100 flex flex-col items-center justify-center  relative">
                <span
                    @click="toggleModal"
                    class="close text-3xl text-black absolute right-5 top-5 cursor-pointer hover:font-bold"
                    >X</span
                >
                <h2 class="text-3xl text-center pt-2 -mt-40 md:-mt-10">Crear QR</h2>
                <div class="container mx-auto p-10 max-w-[400px]">
                    <form action="#">
                        <label>Nombre de la red</label>
                        <input
                            @input="validateForm"
                            v-model="form.network"
                            required
                            type="text"
                            class="w-full rounded-md mb-5" />
                        <label>Contraseña</label>
                        <input
                            @input="validateForm"
                            v-model="form.password"
                            required
                            type="password"
                            class="w-full rounded-md" />
                        <p class="mt-5 mb-10 text-center" v-if="displayPaypalButton" >Procede al pago para crear tu QR</p>
                        <CheckoutPayment
                            :cartTotal="39"
                            :form="form"
                            v-if="displayPaypalButton" />
                        <p class="text-xs mt-2 text-center">
                            Seras dirigido a Paypal para poder generar tu QR
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </DashboardLayout>
</template>
<script>
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';
import CheckoutPayment from '../Components/Payment.vue';
import DashboardLayout from '../Dashboard/Layout.vue';
export default {
    layout: DashboardLayout,
    components: {
        CheckoutPayment,
    },
    setup() {
        const isModalOpen = ref(false);
        const formValidated = ref(false);
        const generateQRButton = ref(false);
        const displayPaypalButton = ref(false);
        const showPaypalButton = () => {
            displayPaypalButton.value = true;
            document.getElementById('generateQRButton').innerText =
                'Procede al pago';
        };
        const toggleModal = () => {
            isModalOpen.value = !isModalOpen.value;
        };
        const form = useForm({
            network: '',
            password: '',
        });
        const validateForm = () => {
            console.log({
                net: form.network,
                pass: form.password,
            });
            if (form.network != '' && form.password != '') {
                generateQRButton.value = true;
                displayPaypalButton.value = true;
            } else {
                generateQRButton.value = false;
                displayPaypalButton.value = false;
            }
        };
        return {
            isModalOpen,
            formValidated,
            toggleModal,
            form,
            generateQRButton,
            validateForm,
            showPaypalButton,
            displayPaypalButton,
        };
    },
};
</script>
<style>
    iframe{
        position: relative!important;
    }
</style>
