<template lang="">
    <div class="w-full flex flex-wrap mx-auto">
        <aside class="w-full md:w-2/12 px-5 py-10 shadow-md min-h-screen bg-slate-50">
            <h3 class="text-xl font-bold mb-10">CompartirWifi</h3>
            <ul class="space-y-5 font-normal">
                <li>
                    <Link>Mis QR</Link>
                </li>
                <li>
                    <Link>Mi cuenta</Link>
                </li>
            </ul>
        </aside>
        <main class="w-full md:w-10/12">
            <slot />
        </main>
    </div>
</template>
<script>
export default {
    name: 'DashboardLayout'
}
</script>
<style lang="">

</style>
